.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.light {
  background-image: url("./images/day-time.jpeg");
  background-position: center;
  background-repeat: no-repeat;
}
.dark {
  background-image: url("./images/night-time.jpeg");
  background-position: center;
  background-repeat: no-repeat;
}
